@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header fonini bulanma qilish */
.header-bg-blur {
    /* position: relative; */
    background-color: white;
    backdrop-filter: blur(10px); /* Fonnni bulanma qilish */
    z-index: 10;
  }
  
  .header-bg-blur::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(207, 121, 121, 0.241); /* Fonnni shaffof qilish */
    z-index: -1;
  }
  
  